@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: oklch(var(--b3));
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--s));
}
